<div class="container">
  <div class="starter-template" style="padding">
    <h1>Wypełnij formularz poniżej</h1>

    <form role="form" action="/announcements" method="post">
      <div class="form-group">
       <label class="col-xs-3 control-label">Płeć:</label>
       <select id="1gender"  class="gender" name="gender">
        <option value="male">Mężczyzna</option>
        <option value="female">Kobieta</option>
        <option value="other">Inna</option>
       </select>
      </div>

      <div class="form-group">
       <label class="col-xs-3 control-label">Szukam:</label>
       <select id="gender"  class="gender" name="gender">
        <option value="male">Mężczyzna</option>
        <option value="female">Kobieta</option>
        <option value="other">Inna</option>
       </select>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Przedział wiekowy:</label>
        <select id="date" class="birth" name="birthyears">
          <option value="young">młodociany</option>
          <option value="medium">średni wiek</option>
          <option value="old">starsza osoba</option>
        </select>
      </div>

      <div class="form-group">
        <label  class="col-xs-3 control-label">Lokalizacja:</label>
        <input id="lok" type="text" id="where"/>
      </div>

      <button type="submit" class="btn btn-default">Znajdz Pare !</button>
    </form>
  </div>
</div>
