<div class="container">
  <div class="starter-template" style="padding">
    <h1 class="text-center">Wypełnij formularz poniżej</h1>

    <form role="form" action="/search" method="post" class="form">
      <div class="form-group">
       <label for="gender" class="col-md-4 control-label">Moja płeć:</label>

       <select id="gender" class="form-control" name="search[gender]">
        <option value="male">Mężczyzna</option>
        <option value="female">Kobieta</option>
       </select>
      </div>

      <div class="form-group">
       <label class="col-md-4 control-label">Szukam:</label>

       <select id="looking_for" class="form-control" name="search[looking_for]">
        <option value="male">Mężczyzna</option>
        <option value="female">Kobieta</option>
       </select>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Przedział wiekowy:</label>

        <select id="age" class="form-control" name="search[age]">
          <option value="young">młodociany</option>
          <option value="medium">średni wiek</option>
          <option value="old">starsza osoba</option>
        </select>
      </div>

      <button type="submit" class="btn btn-danger btn-block btn-lg">Znajdź drugą połówkę!</button>
    </form>
  </div>
</div>
