<div class="container">
  <div class="starter-template">
    <h1 style="text-align:center;">Oto twoja para:</h1>
      <div id="match"></div>
      <button id="like" type="submit" class="btn btn-default">like</span></button>
      <button id="dislike" type="submit" class="btn btn-default">don't like</span></button>
    </div>
  </div>
</body>
