body {
  padding-top: 100px;
  background: url(/images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

#birthyear {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
h1{
  margin-bottom: 20px;
}
#generate{
  margin-left: 190px;
}
.starter-template{
  position: relative;
 margin-top: 30px;
 margin-left: 10px;
 background-color: white;
 opacity: 0.9;
 padding: 50px;
 padding-top: 10px;
}
input,select{
  width: 160px;
}
.col-xs-3{
  padding-left: 5px;
}
#generator{
  position:absolute;
  top: 45px;
  right: 45px;
  float: right;
  height: 250px;
  width: 185px;
  background-color: grey;
  opacity: 0.4;
  border-radius: 10px;
}